// variables
// colors
// nice

// Monokai
if true
  // dull defaults
  $glob_font = medium Consolas,monospace
  $panel_bg = white
  $panel_fg = black
  $type_comment = grey
  $type_str = purple
  $type_num = purple
  $type_op = black
  $type_fn = black
  $type_quote = red
  $stamp_bg_fail = red
  $stamp_bg_pass = green

// Overwrite
$theme = 'cl1'
if $theme == 'monokai'
  $mk_bg = #272822
  $mk_fg = #F8F8F2
  $mk_comm = #75715E
  $mk_str = #E6DB74
  $mk_num = #AE81FF
  $mk_kw = #F92672
  $mk_fn = #A6E22E

  $panel_bg = $mk_bg
  $panel_fg = $mk_fg
  $type_comment = $mk_comm
  $type_str = $mk_str
  $type_num = $mk_num
  $type_op = black
  $type_fn = $mk_fn
  $type_quote = $mk_str
  $stamp_bg_fail = $mk_kw
  $stamp_bg_pass = $mk_fn
else if $theme == 'cl1'
  // http://www.colourlovers.com/palette/4419/Pantone:ceasedesist
  $cl_red = #ff483c
  $cl_green = #9dde8a
  $cl_black = #201F1D
  $panel_fg = $cl_black
  $stamp_bg_fail = $cl_red
  $stamp_bg_pass = $cl_green
  $type_str = #667BEF
  $type_num = $type_str
else if $theme == 'cl2'
  // http://www.colourlovers.com/palette/811773/Somebody_drown_some
  $panel_bg = white
  $panel_fg = #242424
  $stamp_bg_pass = #4DB85F
  $stamp_bg_fail = #E03838

body
  background $panel_bg
  color $panel_fg
  margin 0
  padding 0
  width 100%
  height 100%

#tree-panel
  a.tree-homepage:link
    text-decoration none
  .tree-logo
    border-radius 9px
    float right
    margin-right 10px
    color white
    //bottom 10px
    //rignt 10px
    width 60px
    height 30px
    //position absolute
    background #555
    text-align center
    .t
      position relative
      top 8px
      .e
        font-size xx-small
  position absolute
  top 0px
  background #EEE
  margin -50px 6% 20px
  padding 60px 0px 10px
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5)
  font $glob_font
  border-bottom-right-radius 10px
  border-bottom-left-radius 10px
  li
    list-style none
  & > ul.branch-children
    padding-left 20px
  ul.branch-children
    margin 0
    & > li
      span
        cursor pointer
      padding-top 8px
      .stamp
        color black
        border #DDD 3px solid
        border-radius 5px
        padding 0px 2px
        &.fail
          border-color $stamp_bg_fail
        &.pass
          border-color $stamp_bg_pass
      span.handle
        color grey
        font bold large 'Lucidia Console',monospace
      &.branch
          $indnt = 75px
          text-indent -($indnt)
          padding-left $indnt
          ul.branch-children
            text-indent 0
            margin-left -40px
            padding-left 0px
        &>.stamp
          background transparent
        &>.main-results.top
          font-weight bold
      &.assert
        span.stamp
          &.pass
            background-color $stamp_bg_pass
          &.fail
            background-color $stamp_bg_fail
        span.type
          &.comment
            color $type_comment
          &.string
            color $type_str
          &.number
            color $type_num
          &.op
            color $type_op
        &.pass > ul.details > table
          padding-left $indnt
          border-left-color $stamp_bg_pass
        ul.details
          font-size small
          margin-top 6px
          table
            border-left 4px $stamp_bg_fail solid
            tr
              margin-top 2px
            th
              //font-size x-small
              border-right 2px rgba(0,0,0,0.12) solid
              vertical-align: top
              font-weight 400
              text-align right
              padding-right 5px
            td li
              white-space:pre
        //  font-size small
        //  span.handle
        //    font-size small
        //  li
        //    padding 1px