@import "normalize"

$cl_red = #ff483c
$cl_green = #9dde8a
$cl_black = #201F1D
$panel_fg = $cl_black
$stamp_bg_fail = $cl_red
$stamp_bg_pass = $cl_green
$type_str = #667BEF
$type_num = $type_str

user-select(val)
  -webkit-user-select val
  -khtml-user-select val
  //-moz-user-select val
  -o-user-select val
  user-select val

//zoom(val)
//  //background-size ((val)*100)%
//  zoom val
//  -webkit-transform scale(val)
//  -moz-transform scale(val)

div.tree-top
  background #EEE
  color $cl_black
  font 12pt 'Consolas'
  padding 10px 10px 0
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5)
  
  // Summary stands out
  & > li > .summary
    font-weight bold
    
  .stamp
    border 3px solid green //#CFC438//#DDD
    border-radius 5px
    padding 0px 2px
    &.await
      border-color lighten(#37A4DA, 60%)
    &.failed
      border-color $stamp_bg_fail
    &.passed
      border-color $stamp_bg_pass
    &.comment
      border-color #DDD
  
  ul
    margin-top 0
  li
    list-style-type none
    margin-top 8px
    &:not(.no-children) > span
      cursor pointer
    &.branch
      &.commented
        color grey
        & > .stamp
          border-color #DDD
    &.assert
      .stamp.failed
        background $stamp_bg_fail
      .stamp.passed
        background $stamp_bg_pass
      &.failed table
        border-left 4px $stamp_bg_fail solid
      &.passed table
        border-left 4px $stamp_bg_pass solid
      
      table
        font-size 80%
        margin 6px 0px 12px 40px
        border-collapse separate
        border-spacing 5px

        th
          border-right 2px rgba(0,0,0,0.12) solid
          vertical-align: top
          font-weight 400
          text-align right
          padding-right 5px
        td li
          white-space:pre

  // Hide stuff deending on the classes of the li elements
  .collapsed > ul
  .collapsed > table

  .collapsed > .handle:not(.plus)
  .expanded > .handle:not(.minus)
  .no-children > .handle:not(.dot)

  .await > .stamp:not(.await)
  .failed > .stamp:not(.failed)
  .passed > .stamp:not(.passed)
  .commented > .stamp:not(.comment)
    display none
  
  // Handle signs (+, -, .)
  .handle
    color grey
    font bold 120% 'Lucidia Console', monospace

  // Only select relevant content
  *
    user-select none
  .summary, th, td
    user-select initial

  // Tree.js logo at the bottom right
  div.logo
    w = 80px
    h = 70px
    z = 0.75
    o = 0.40
    &, & img
      height h*z
      width w*z
      -ms-zoom 1
    img
      opacity o
      position absolute
      right 10px
  //div.logo
  // w = 80px
  // h = 70px
  // z = 0.75
  // o = 0.40
  // zoom z
  // opacity o
  // &, & .inner
  //   display block
  //   width w
  //   height h
  // .inner
  //   right 10px
  //   //background-image url('../tree optimized.svg')
  //   //text-indent -99999px
  //   position absolute
